.article-header {
    color: #2E4053; 
    font-size: 3.75em;
    text-align: center;
}

.well.col-xs-12.col-sm-12.col-md-12.col-lg-12.article-card {
    background-color: #FDFEFE;
}

.publish-date {
    float: right;
    font-size: 1em;
}

.article-title {
    font-size: 2.15em;
}

img.img-responsive.article-image {
    display: inline-block;
}

.article-description {
    font-size: 2em
}

.article-link {
    font-size: 1.75em
}
