<!-- Display news sources -->
{% macro displaySourceList(source_list) %}

    {% for source in source_list %}

        <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> -->
        <div class="well col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
            <li class="text-center">

                <a href="/source/{{source.id}}">
                    {{ source.name }}   
                </a>

            </li>

        </div>

    {% endfor %}

{% endmacro %}

<!-- Display articles -->
{% macro displayArticleList(article_list) %}

    {% for article in article_list %}

        <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> -->
        <div class="well col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
            <li class="text-center">

                <h4>    
                    <a href="{{ article.urlToArticle }}">
                        {{ article.title }}   
                    </a>
                    <br/>
                    <small>{{article.publishedAt}}</small>
                </h3>

                <img src="{{ article.urlToImage }}" alt="{{ article.title }}" class="img-responsive">

                <p>{{ article.description }}</p>

                <a href="{{ article.urlToArticle }}"> Read more...</a>

            </li>

        </div>

    {% endfor %}

{% endmacro %}